
#main
  %h1 SPELUNKULAR HOME PAGE EXISTS
  = form_tag '/scraper', :id => 'url', :remote => true do
    = text_field_tag 'url'
    = number_field_tag 'depth', nil, :in => 1...3
    = submit_tag 'Go', :class=> 'button'

#results